/* .main{
    background-color: #121212;
}

.title{
    font-size: 1.5em;
    color: #c1c1c1;
    margin-top: 10px;
    font-weight: 100;
}
.card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03) !important;
    background: #1d1d1d;
    border-radius: 16px;
    border: initial;
    color: #c1c1c1;
    margin-bottom: 1rem !important;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    padding: 2rem;
  }
  .card_body{
    padding: 1rem;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
  }
  .text_alternate{
    color:#999999
  }
   */
.questionNo{
  border: 1px solid #0d6efd;
  border-radius: 50%;
  padding: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.small_title {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 1em;
  color: #9e62c7;
  height: 2rem;
}
.select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0d6efd;
  }
  .btn{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn:hover, .start-btn:focus{
    color: #0d6efd;
  }
  .main_div{
    display: flex;
    flex-direction: column;
  }
  .question_div{
    padding: 1rem;
    border-bottom: 0.794239px solid #DBDEF0;
  }
  .question{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #c0b4c7;
  }
  .answers_div{
    display: flex;
    justify-content: space-between;
  }
  .answer{
    color: #6c757d;
    padding: .5rem .75rem;
    cursor: pointer;
    width: 24%;
    align-self:flex-start;
    text-align: center;
    border-radius: 3px;
  }
  .answer:hover{
    color: #495057;
    border-radius: 3px;
    background-color: #e9ecef;
  }
  .answer_disabled{
    color: rgb(195, 185, 185);
    border-radius: 3px;
    padding: .5rem .75rem;
    width: 24%;
    align-self: flex-start;
    text-align: center;
  }
  .btn_answer{
    margin-top: 1rem;
    text-align: center;
    width: 20%;
  }
  .result_div{
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .score{
    color: #495057;
    font-weight: 700;
    font-size: 1rm;
    line-height: 15px;
    text-align: center;
  }